In [10]:
using DataFrames

┌ Info: Precompiling DataFrames [a93c6f00-e57d-5684-b7b6-d8193f3e46c0]
└ @ Base loading.jl:1186

In [1]:
a = rand(["a","b","NA"], 20)
a2 = Array{Union{Missing, String}}(a)

20-element Array{Union{Missing, String},1}:
 "b"
 "b"
 "a"
 "b"
 "a"
 "NA"
 "b"
 "a"
 "b"
 "a"
 "a"
 "NA"
 "NA"
 "NA"
 "b"
 "b"
 "NA"
 "NA"
 "NA"
 "NA"

In [2]:
for i in eachindex(a2)
    #i == "NA" && (as[1] = missing)
    if a2[i] == "NA"
        a2[i] = missing
    end
end

In [3]:
a2

20-element Array{Union{Missing, String},1}:
 "b"
 "b"
 "a"
 "b"
 "a"
 missing
 "b"
 "a"
 "b"
 "a"
 "a"
 missing
 missing
 missing
 "b"
 "b"
 missing
 missing
 missing
 missing

In [6]:
a3 = [x == "NA" ? missing : x for x in a] # ternary operatore syntax

20-element Array{Union{Missing, String},1}:
 "b"
 "b"
 "a"
 "b"
 "a"
 missing
 "b"
 "a"
 "b"
 "a"
 "a"
 missing
 missing
 missing
 "b"
 "b"
 missing
 missing
 missing
 missing

In [5]:
#a4 = map(x -> if x == "NA"; missing; else x; end, a)
function convertna(x) 
    if x == "NA"
        return missing
    end 
    return x
end

convertna (generic function with 1 method)

In [7]:
# broadcast
a5 = convertna.(a)

20-element Array{Union{Missing, String},1}:
 "b"
 "b"
 "a"
 "b"
 "a"
 missing
 "b"
 "a"
 "b"
 "a"
 "a"
 missing
 missing
 missing
 "b"
 "b"
 missing
 missing
 missing
 missing

In [8]:
a5 = convertna(a)

20-element Array{String,1}:
 "b"
 "b"
 "a"
 "b"
 "a"
 "NA"
 "b"
 "a"
 "b"
 "a"
 "a"
 "NA"
 "NA"
 "NA"
 "b"
 "b"
 "NA"
 "NA"
 "NA"
 "NA"

In [11]:
a6 = DataFrame(rand(["a","b",NaN,"NA"], 20, 4))

20×4 DataFrame
│ Row │ x1  │ x2  │ x3  │ x4  │
│     │ Any │ Any │ Any │ Any │
├─────┼─────┼─────┼─────┼─────┤
│ 1   │ NA  │ a   │ a   │ NaN │
│ 2   │ a   │ a   │ NA  │ NA  │
│ 3   │ a   │ NaN │ NaN │ a   │
│ 4   │ NaN │ NaN │ NaN │ NA  │
│ 5   │ a   │ b   │ NA  │ NA  │
│ 6   │ b   │ a   │ NA  │ NaN │
│ 7   │ a   │ b   │ a   │ a   │
│ 8   │ a   │ NaN │ b   │ NA  │
│ 9   │ NA  │ a   │ a   │ NaN │
│ 10  │ a   │ NaN │ NA  │ NA  │
│ 11  │ NaN │ b   │ NaN │ NA  │
│ 12  │ b   │ NaN │ NaN │ a   │
│ 13  │ NA  │ NA  │ NA  │ b   │
│ 14  │ a   │ b   │ NA  │ a   │
│ 15  │ b   │ b   │ a   │ b   │
│ 16  │ NaN │ NA  │ NaN │ a   │
│ 17  │ NaN │ NA  │ NaN │ NA  │
│ 18  │ NaN │ b   │ NaN │ a   │
│ 19  │ NaN │ NA  │ NA  │ a   │
│ 20  │ b   │ b   │ NA  │ b   │

In [12]:
convertna.(a6)

20×4 DataFrame
│ Row │ x1      │ x2      │ x3      │ x4      │
│     │ Any     │ Any     │ Any     │ Any     │
├─────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ missing │ a       │ a       │ NaN     │
│ 2   │ a       │ a       │ missing │ missing │
│ 3   │ a       │ NaN     │ NaN     │ a       │
│ 4   │ NaN     │ NaN     │ NaN     │ missing │
│ 5   │ a       │ b       │ missing │ missing │
│ 6   │ b       │ a       │ missing │ NaN     │
│ 7   │ a       │ b       │ a       │ a       │
│ 8   │ a       │ NaN     │ b       │ missing │
│ 9   │ missing │ a       │ a       │ NaN     │
│ 10  │ a       │ NaN     │ missing │ missing │
│ 11  │ NaN     │ b       │ NaN     │ missing │
│ 12  │ b       │ NaN     │ NaN     │ a       │
│ 13  │ missing │ missing │ missing │ b       │
│ 14  │ a       │ b       │ missing │ a       │
│ 15  │ b       │ b       │ a       │ b       │
│ 16  │ NaN     │ missing │ NaN     │ a       │
│ 17  │ NaN     │ missing │ NaN     │ missing │
│ 18  │ NaN     │ b       │ NaN     │ a       │
│ 19  │ NaN     │ missing │ missing │ a       │
│ 20  │ b       │ b       │ missing │ b       │

In [13]:
describe(convertna.(a6))

4×8 DataFrame. Omitted printing of 1 columns
│ Row │ variable │ mean    │ min     │ median  │ max     │ nunique │ nmissing │
│     │ Symbol   │ Nothing │ Nothing │ Nothing │ Nothing │ Int64   │ Int64    │
├─────┼──────────┼─────────┼─────────┼─────────┼─────────┼─────────┼──────────┤
│ 1   │ x1       │         │         │         │         │ 3       │ 3        │
│ 2   │ x2       │         │         │         │         │ 3       │ 4        │
│ 3   │ x3       │         │         │         │         │ 3       │ 8        │
│ 4   │ x4       │         │         │         │         │ 3       │ 7        │

In [14]:
describe(housing_df)

UndefVarError: UndefVarError: housing_df not defined